*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerr{
    background-color: #d8f3dca8; 
}

.heading img{
    width: 15rem;
    z-index: -1;
}

.heading h1{
    text-align: center;
}

.image2{
    margin-top: -4.3rem;
}

.bottom img{
    width: 80%;
}

.text-box{
    background-color: snow;
    width: 90%;
}

@media (min-width: 786px) {

    /* For larger screens */
    .text-box {
        width: 32%;
    }
}